.movie-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 20px 35px;
  max-width: 300px;
  font-family: 'Courier New', Courier, monospace;
  transition: transform 0.3s, box-shadow 0.3s;
}

.movie-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.movie-title {
  font-size: 1.5em;
  margin: 0;
  color: #333;
}

.movie-info {
  font-size: 0.9em;
  color: #777;
  margin: 5px 0px;
}

.movie-overview {
  font-size: 1em;
  color: #555;
  margin: 10px 0;
}

.movie-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
